---
import { header } from '../../../data/navigation.json';
---

<header
  class="header"
  x-data="{ open: false }"
  x-transition
  style={`background-color: ${header.background_color}; color: ${header.color};`}>
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo-link" href={header.logo_url}>
        <img class="header__logo-image" src={header.logo} alt="Logo" />
        <img class="header__logo-image__mobile" src='/images/logos/logo-white.png' alt="">
      </a>
      <ul
        class="header__nav-links"
        x-show="open"
        x-transition
        @click.outside="open = false">
        {
          header.links.map((link) => {
            return (
              <li class="header__nav-item">
                <a class="header__nav-link" href={link.link}>
                  {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  .header__container {
    max-width: var(--pageContainer);
    margin: 0 auto;
    padding-inline: var(--pagePadding);
  }

  .header li {
    list-style-type: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  .header__logo-image {
    display: none;
    width: 200px;
    @media screen and (min-width: 600px) {
      display: block;
    }
  }

  .header__logo-image__mobile {
    display: block;
    width: 40px;
    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .header__nav-links {
    position: absolute;
    z-index: 99;
    background-color: white;
    right: 0;
    bottom: 0;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-link:hover {
    color: #034ad8;
  }

    .header__nav-links {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      min-width: none;
      background-color: transparent;
    }

  @media screen and (min-width: 600px) {
    .header__nav-item {
      padding-left: 1rem;
    }
  }

 

  
</style>
