---
import "./_related-posts.scss";
const { data, slug } = Astro.props.post;
const { title, date, excerpt, author, tags } = data;
const dateObj = new Date(date);
const formattedDate = dateObj.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<article class="related-posts">
  <p class="related-posts__date">{formattedDate}</p>
  <div class="related-posts__wrapper">
    <a href={`/blog/${slug}`} class="related-posts__wrapper__heading">
      <h2>{title}</h2>
    </a>
    <p class="related-posts__wrapper__excerpt">{excerpt}</p>
    <p class="related-posts__wrapper__author">
      By {
        author.map((authorName, i) => (
          <a href={`/blog/author/${authorName.name}`}>
            {authorName.name}
            {i < author.length - 1 ? ", " : ""}
          </a>
        ))
      }
    </p>
    <div class="related-posts__wrapper__tags">
      {
        tags.map((tag, i) => (
          <span>
            <a href={`/tags/${tag.toLowerCase()}`}>
              {tag[0].toUpperCase() + tag.slice(1)}
              {i < tags.length - 1 ? ", " : ""}
            </a>
          </span>
        ))
      }
    </div>
  </div>
</article>
